body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('https://res.cloudinary.com/dxyxg3egs/image/upload/v1664903402/diul/IMG_20220121_223657_499_vzzoka.jpg');
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

button {
    background: none;
    color: #ff6961;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
    border-color: #dea5a4;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #dea5a4;
    transform: translateY(-0.25em);
    cursor: pointer;
}